<div class="containercontact">
  <div class="message">

      <%= form_for @contact do |f| %>
      <%= f.label :name  %> <br>
      <%= f.text_field :name, required: true  %>

      <br>

      <%= f.label :email  %> <br>
      <%= f.text_field :email, required: true  %>

      <br>

      <%= f.label :message  %> <br>
      <%= f.text_area :message, as: :text, size: "60x12" %>


      <div class="hidden">
        <%= f.label :nickname %> <br>
        <%= f.text_field :nickname, hint: 'leave this field blank' %>
      </div>

      <br>

      <%= f.submit "Send Message", class: "btn btn-default"  %>
    <% end %>

  </div>
    <div class="position">
      <div id="map"

           style="width: 500px; height: 350px;"
           data-markers="<%= @markers.to_json %>"

           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

</div>
