


<header>
  <%= image_tag "logo.png", alt: "Olio Radino Logo", :class => "logo", width: 200 %>
    <nav>
      <ul class="nav_links">
        <%= link_to "ABOUT" %>
        <%= link_to "PRODUCTS" %>
        <%= link_to "CONTACT US" %>
        <%= link_to "LANGUAGE" %>
      </ul>
    </nav>
</header>
