
<header>
  <%= image_tag "logo.png", alt: "Olio Radino Logo", :class => "logo", width: 200 %>
    <nav>
      <ul class="nav_links">
        <%= link_to "ABOUT" %>
        <%= link_to "PRODUCTS" %>
        <%= link_to "CONTACT US" %>
        <%= link_to "LANGUAGE" %>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            LANGUAGE
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">English</a>
            <a class="dropdown-item" href="#">German</a>
            <a class="dropdown-item" href="#">French</a>
            <a class="dropdown-item" href="#">Italian</a>
          </div>
        </div>
      </ul>
    </nav>
</header>
